body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #668cff;
    color: black;
}

.container {
    width: 60%;
    height: 370px;
    margin: 50px auto;
    top: 30%;
    padding: 130px;
    background-color: #87a9ff;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.card {
    width: 180px;
    height: 180px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .5);
    /* Add box shadow */

}

.card:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e0e0e0;
}

.announcement-container {
    padding: 30px;
    height: 600px;
}

.underline {
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.event-list {
    text-align: left;
    margin: 20px auto;
    width: 80%;
}

.event {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.event:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.event h4 {
    margin: 0;
    color: #333;
}

.event p {
    margin: 5px 0 0;
    color: #666;
}

.faq-container {
    padding: 30px;
    height: 700px;
}

.faq-list {
    text-align: left;
    width: 80%;
    margin: 20px auto;
}

.faq-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.faq-item:hover {
    transform: scale(1.02);
    background-color: #f0f0f0;
}

.question {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    display: none;
    padding: 10px;
    color: #666;
    border-top: 1px solid #ddd;
    margin-top: 5px;
}